<h2>
    {{ title }}
</h2>

@if (message) {
    <div class="errorMessage">{{ message }}</div>
}
@else {
    @if (products$ | async; as products) {
        <ul class="products">
            @for (product of products | slice:start:end; track product.id) {
                <li [class.discontinued]="product.discontinued"
                    [class.selected]="product == selectedProduct"
                    (click)="onSelect(product)">
                    <span class="name">{{ product.name | uppercase }}</span>
                    <span class="description">{{ product.description }}</span>
                    <span class="price">{{ product.price | currency: 'CAD': 'symbol-narrow': '.2' }}</span>
                </li>
            }
        </ul>

        <div class="right">
            <a routerLink="insert">Add new product...</a>
        </div>

        <div>
            <button (click)="previousPage()" [disabled]="start == 0">
                Previous Page
            </button>
            Page {{ pageNumber }}
            <button (click)="nextPage()" [disabled]="products.length <= end">
                Next Page
            </button>
        </div>
    } @else {
        <div class="loading"></div>
    }
}



